body {
  background-color: skyblue;
  color: verydarkgreen;
  font-family: Lucida;
}
h1, h2 {
  color: emerald;
  font-family: Century;
}
div, p {
  color: navy;
  font-family: Perpetua;
}
a:link {
  color: ruby;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: maroon;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: purple;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: lime;
  background-color: transparent;
  text-decoration: underline;
}
